@{
    Layout = "~/Features/Shared/_Layout.cshtml";
}

@*Header from layout file goes in here first for nav menu*@

<section>
    <div class="imageArea">
        <video id="video" autoplay></video>
        <canvas id="canvas" width="640" height="480"></canvas>
    </div>
    <button id="snap">Snap Photo</button>
    <button id="cancel">Cancel</button>
    <button id="save">Save Photo</button>
</section>



<script>
    // Put event listeners into place
    window.addEventListener("DOMContentLoaded", function () {
        // Grab elements, create settings, etc.
        var canvas = document.getElementById("canvas"),
            context = canvas.getContext("2d"),
            video = document.getElementById("video"),
            videoObj = { "video": true },
            errBack = function (error) {
                console.log("Video capture error: ", error.code);
            };

        // Put video listeners into place
        if (navigator.getUserMedia) { // Standard
            navigator.getUserMedia(videoObj, function (stream) {
                video.src = stream;
                video.play();
            }, errBack);
        } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
            navigator.webkitGetUserMedia(videoObj, function (stream) {
                video.src = window.webkitURL.createObjectURL(stream);
                video.play();
            }, errBack);
        }
        else if (navigator.mozGetUserMedia) { // Firefox-prefixed
            navigator.mozGetUserMedia(videoObj, function (stream) {
                video.src = window.URL.createObjectURL(stream);
                video.play();
            }, errBack);
        }
    }, false);

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function () {
        var context = canvas.getContext("2d");
        $("#canvas").show();
        $("#save").show();
        context.drawImage(video, 0, 0, 640, 480);
        $("#video").hide();
        $("#snap").hide();
        $("#cancel").show();
    });

    document.getElementById("cancel").addEventListener("click", function () {
        $("#video").show();
        $("#snap").show();
        $("#save").hide();
        $("#cancel").hide();
        $("#canvas").hide();
    });
    //Everyone loves geolocation. You've got to know where the hipster is so you can avoid that area in the future

    $(function getLocation() {
        navigator.geolocation.getCurrentPosition(function showPosition(position) {
            var userLatitude = position.coords.latitude;
            var userLongitude = position.coords.longitude;

            //save photo
            document.getElementById("save").addEventListener("click", function () {
                $.post("/Home/Submit", { imageData: canvas.toDataURL(), latitude: userLatitude, longitude: userLongitude }, function () {
                    window.location.href = '/home/success';
                });
            });
        });
    });
</script>