@{
    Layout = "~/Features/Shared/_Layout.cshtml";
}

<section id="TopMenu">
    <div class="NavOption">Fixed menu goes here</div>
</section>

<h1>Home</h1>


<section>
    <div id="doucheOfTheDay">Picture of highest rated person so far</div>
    <div id="voteNow">Up and down arrows for the above hipster</div>
    <div id="skip">Skip button to next hipster</div>
</section>

<section>
    <div id="footer"></div>
</section>