@model HipsterOfTheDay.Features.Home.LatestHipsterViewModel

@{
    ViewBag.Title = "Latest Hipster";
}

<h2>title</h2>
@Model.LatestHipsterImageString


@{
    var imgSrc = String.Format(Model.LatestHipsterImageString,"{0}");
}

<img src="@imgSrc" width="640" height="480" />