@model HipsterOfTheDay.Features.Home.LatestHipsterViewModel

@{
    ViewBag.Title = "Latest Hipster";
    Layout = "~/Features/Shared/_Layout.cshtml";
}

<h2>title</h2>
@Model.LatestHipsterImageString
