@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <link href="~/Styles/reset.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Styles/style.css" rel="stylesheet" type="text/css"/>
        <title></title>
    </head>
<body>
@RenderBody()
</body>
</html>
